<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>CakeShop - ADD PRODUCT</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/basic.css">

</head>
<style>
  label{
    font-size: 20px;
  }


</style>
<body>
<section>

  <div class="container-fluid px-0">
    <div class="row g-0" style=" min-height: 95.8vh;">

      <!-- First column -->
      <div class="col-lg-6">
        <li class="btn btn-light border rounded m-2">
          <a class="nav-link" href="/">Back</a>
        </li>
        <div class="d-flex align-items-center" style=" min-height: 86.8vh;">
          <img class="logo" src="../../images/cakeShop_logo.png">
        </div>

      </div>
      <!-- First column -->

      <!-- Second column -->
      <div class="col-lg-6" style="background-color: #F7E1F8">
        <div class="px-5 pt-5 ">
          <h4 class="d-flex justify-content-center">Add new product:</h4>
          <div th:if="${hasErrors}" class="error text-danger">
            <div th:text="${errors}"></div>
          </div>
          <form class="mt-5 p-4" method="post" action="/addProduct" enctype="multipart/form-data">
            <div class="form-row">
              <div class="col-lg-12">
                <label for="productName">Product name:</label>
                <input type="text" class="form-control mb-4 p-2" id="productName" name="productName" required placeholder="Product1">
              </div>
            </div>

            <div class="form-row">
              <div class="col-lg-12">
                <label for="productDescription">Product description:</label>
                <input type="text" class="form-control mb-4 p-2" id="productDescription" name="productDescription" required placeholder="Product description1">
              </div>
            </div>

            <div class="form-row">
              <div class="col-lg-12">
                <label for="productImage">Product image:</label>
                <input type="file" name="productImage" id="productImage" accept="image/*" class="form-control-file mb-4 p-2" required>
              </div>
            </div>


            <div class="form-row">
              <div class="col-lg-12">
                <label for="flavors">Flavors:</label>
                <input type="text" class="form-control mb-4 p-2"  id="flavors" name="flavors" required placeholder="flavor1, flavor2, flavor3" >
              </div>
            </div>

            <div class="form-row">
              <div class="col-lg-12">
                <label  for="price">Product price in $ for 10 servings:</label>
                <input type="text" class="form-control mb-4 p-2 block"  id="price" name="price" required placeholder="20">
              </div>
            </div>

            <div class="form-row">
              <div class="col-lg-12">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" name="type" type="radio" id="CAKE" value="CAKE" checked="checked">
                  <label class="form-check-label" for="CAKE">CAKE</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" name="type"  type="radio" id="CUPCAKE" value="CUPCAKE">
                  <label class="form-check-label" for="CUPCAKE">CUPCAKE</label>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-lg-12">
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn  border rounded btn-light  btn-lg">Add product</button>
                </div>
                <div class="d-flex justify-content-end">
                  <a class="btn border rounded btn-danger btn-lg">Back</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Second column -->

    </div>
  </div>

</section>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: #D9D9D9;">
    © Cake Shop 2023
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>